body {
  width: 280px;
}
.sidebar {
  margin: 0;
  padding: 0;
  list-style: none;
  background: white;
}
.menu,
.sub-menu-v,
.sub-menu-h,
.title {
  margin: 0;
  padding: 0;
}
.title {
  font-family: sans-serif;
  font-size: 16px;
  color: #a0a0a0;
}
.title a {
  text-decoration: none;
  font-weight: bold;
  font-size: 26px;
  color: #000000;
}
.menu li {
  list-style: none;
  padding: 8px 5%;
}
.sub-menu-title {
  padding: 10px 5%;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  color: #000000;
}
.sub-menu-v a,
.sub-menu-h a {
  text-decoration: none;
  color: #000000;
  font-size: 16px;
}
.sub-menu-v a {
  display: block;
}
.sub-menu-v > li:hover,
.sub-menu-h a:hover {
  background: #d0d0d0;
}
.description {
  font-size: 13px;
  color: #909090;
}
.search-box {
  font-size: 30px;
  width: 100%;
}
.hline {
  width: 90%;
  height: 1px;
  background: #c0c0c0;
  margin: 0px 5%;
}