html, body, div, span, h1, h2, a, img, ul, li {
	margin: 0;
	padding: 0;
	vertical-align: baseline;
	text-decoration: none;
	font-size: 100%;
	font-weight: inherit;
}
ol, ul {
	list-style: none;
}
a {
	color: #000000;
}